.vs/ProjectEvaluation
.vs/RoslynCodeGenrator/DesignTimeBuild
.vs
SyntaxWalker/bin
SyntaxWalker/obj
ConsoleApp1/obj
ConsoleApp1/bin
CodeSafeRemover/Program.cs
CodeSafeRemover/bin/
CodeSafeRemover/obj/
RemoveFunctionAnalyzer/obj/
RemoveFunctionAnalyzer/bin/
tests/*/*/obj
RemoveFunctionAnalyzer-test/bin/
RemoveFunctionAnalyzer-test/obj/
.idea/
RemoveFunctionAnalyzerTester/bin/
RemoveFunctionAnalyzerTester/obj/
